* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.navy-back {
    background-color: #1F2937;
    color: #E5E7EB;
}

.white-back {
    color: #1F2937;
    background-color: white;
}

.grey-back {
    background-color: #E5E7EB;
    color: #1F2937;
}

.blue-back {
    background-color: #3882F6;
}

header {
    justify-content: space-between;
    gap: 10px;
}

header > p {
    margin: 10px 0px 10px 300px;
    font-size: 24px;
    font-weight: bold;
}

ul {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-right: 300px;
}

li {
    margin: 10px;
    font-size: 18px;
    align-self: center;
}

#intro {
    min-height: 350px;
    justify-content: space-between;
    align-items: center;
}

#intro-left {
    gap: 8px;
    margin-left: 300px;
    max-width: 400px;
}

#intro-left > button {
    width: 100px;
    padding: 5px 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#intro-right {
    justify-content: center;
    align-items: center;
    margin-right: 300px;
    background-color: grey;
    height: 300px;
    width: 600px;
}

#information {
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

#info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#info-images {
    gap: 50px;
}

#info-images > figure {
    max-width: 200px;
}

#info-images > figure > figcaption {
    text-align: center;
}

.empty-frame {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

#quotation {
    justify-content: center;
    height: 400px;
}

#internal-flex {
    justify-content: center;
    align-items: flex-end;
    width: 800px;
    gap: 10px;
}

#quotation-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

#quotation-author {
    font-size: 24px;
    font-weight: bold;
}

#footer {
    height: 200px;
    justify-content: center;
    align-items: center;
}

#advert {
    width: 1000px;
    height: 100px;
    color: #E5E7EB;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.call-to-action {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

#advert > button {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    border-radius: 5px;
    width: 100px;
    padding: 5px 10px;
    font-weight: bold;
}